* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.container {
	width: 100%;
}

.container > div {
	padding: 10px;
}

.menu {
	position: relative;
	border: 5px solid black;
	height: 200px;
	background-color: lightgrey;
}

.menu p {
	padding: 30px 20px 20px 20px;
}

.title {
	position: absolute;
	right: 0;
	width: 150px;
	padding: 5px;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	text-align: center;
}

#chicken {
	background-color: lightpink;
}

#beef {
	background-color: red;
}

#sushi {
	background-color: lightgoldenrodyellow;
}

@media (min-width: 992px) {
	.col-md-4 {
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-6 {
		float: left;
		width: 50%;
	}
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}